*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}


h1 {
  margin: 1%;
  padding: 3%;
  background-color: white;
  text-align: center;
}

section {
  margin: 1%;
  padding: 3%;
  background-color: white;
  min-width: 53%;
  max-width: 65%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-side {
  background-color: white;
  margin: 1%;
  padding: 3%;
}