html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  background-color: lightgray;
  font-family: sans-serif;
  position: relative;
}

h1 {
  border-left: 20px solid lightgray;
  border-right: 20px solid lightgray;
  border-top: 20px solid lightgray;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: white;
  text-align: center;
}

#Navigationsseite {
  border: 20px solid lightgray;
  padding: 50px;
  background-color: white;
  text-align: center;
  font-size: 135%;
}

.links {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  font-size: 1.6rem;
}

section {
  border: 10px solid lightgray;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 50px;
  background-color: white;
  min-width: 53%;
  max-width: 65%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-side {
  background-color: white;
  border: 10px solid lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 50px;
}

.scroll_to_top {
  position: absolute;
  top: 0;
  right:0;
  height: 100%;
}

.scroll_to_top:before {
  content: '';
  display: block;
  height: 100vh;
  pointer-events: none;
}

.scroll_to_top a {
  position: sticky;
  top: 88vh;
  cursor: pointer;
  font-size: 20px;
}

#scroll_button {
  width: 100px;
  height: 100px;
  margin: 20px;
}

#crunchyroll_img {
  height: 80%;
  width: 80%;
}