*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
}


h1 {
  margin: 1%;
  padding: 3%;
  background-color: white;
  text-align: center;
}

section {
  margin: 1%;
  padding: 3%;
  background-color: white;
}

main > section {
  display: inline-block;
  width: 55%;
}

main > div.right-side {
  display: inline-block;
  width: 30%;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
}